# App info
FASTAPI_APP_NAME=
FASTAPI_APP_DESCRIPTION=
FASTAPI_APP_VERSOON=

# Server info
FASTAPI_SERVER_HOST=
FASTAPI_SERVER_PORT=
FASTAPI_SERVER_RELOAD=
FASTAPI_SERVER_WORKERS=

# Api info
FASTAPI_STRIDE_BASE_API=
